.btn {
	display: flex;
	align-items: center;
	margin: 15% auto 20px;
	height: 100px;

	font-size: 20px;
	background-color: rgb(57, 92, 173);
	color: #ffffff;
	cursor: pointer;

	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.data {
	display: block;
	text-align: center;
	padding: 10px;

	width: 250px;
	margin: 0 auto;
	
	font-size: 18px;

}
